* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*navbar*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 1s;
}

header.purple {
    background-color: #cdc7db;
}

header > ul {
    list-style: none;
    color: white;
    display: flex;
    gap: 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav > ul {
    list-style: none;
    color: white;
    display: flex;
    gap: 10px;
}

.accManage > li > a {
    color: white;
}

.navbar > ul > li {
    font-size: 1.2rem;
}

/*hero*/
.hero {
    height: 100vh;
    display: flex;
    background-color: wheat;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

footer {
    padding: 20px 120px;
    background-color: #151414;
}

.info-section {
    display: flex;
}

.footer-section > h3 {
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    color: #ffffff;
}

.footer-section > p {
    line-height: 28px;
}

.footer-section > h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}